@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "tilt-neon";
    src: url("/fonts/TiltNeon-Regular.woff2") format("woff2");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}
